<breadcumb></breadcumb>
<div class="header-content">
    <!-- <img src=".\assets\dist\img\InsumosIcon.png"> -->
    <div class="icon"><i class="fa fa-cubes"></i></div>
    <p class="subtitle-content">{{subtitle}}</p>
    <p class="title-content"><b>{{title}}</b></p>
    <p class="passos">{{passos}}</p>
</div>
<br>
<div class="box box-solid box-primary" data-widget="box-widget">
    <div class="box-header">
        <h3 class="box-title">FORMULÁRIO</h3>
    </div>
    <div class="box-body">
        <form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="salvar()">
            <!-- CODIGO -->
            <div class="form-group" [ngClass]="{'has-error': submitted && form.codigo.errors}">
                <label for="codigo" class="col-sm-2 control-label" >Código</label>
                <div class="col-sm-10">
                    <input type="text" name="codigo" formControlName="codigo" class="form-control"/>
                </div>
                <div *ngIf="submitted && form.codigo.errors" class="invalid-feedback">
                    <div class="col-sm-2"></div>
                    <div class="help-block col-sm-10">Código precisa ser informado!</div>
                </div>
            </div>

            <!-- DESCRICAO -->   
            <div class="form-group" [ngClass]="{'has-error': submitted && form.descricao.errors}">
                <label for="descricao" class="col-sm-2 control-label">Descrição*</label>
                <div class="col-sm-10">
                    <input type="text" name="descricao" formControlName="descricao" class="form-control"/>
                </div>
                <div *ngIf="submitted && form.descricao.errors" class="invalid-feedback">
                    <div class="col-sm-2"></div>
                    <div class="help-block col-sm-10">Descrição precisa ser informado!</div>
                </div>
            </div>

             <!-- ESTADO -->
             <div class="form-group" [ngClass]="{'has-error': submitted && form.estado.errors}">
                <label for="estado" class="col-sm-2 control-label">Estado</label>
                <div class="col-sm-10">
                    <select formControlName="estado" class="form-control">
                        <option *ngFor="let key of estadosKeys" [value]="key" [label]="estadosValue[key]"></option>
                    </select>
                </div>
                <div *ngIf="submitted && form.estado.errors" class="invalid-feedback">
                    <div class="col-sm-2"></div>
                    <div class="help-block col-sm-10">Estado precisa ser informada!</div>
                </div>
            </div>

             <!-- DATA SINAPI -->
             <div class="form-group" [ngClass]="{'has-error': submitted && form.datasinapi.errors}">
                <label for="datasinapi" class="col-sm-2 control-label">Sinapi</label>
                <div class="col-sm-10">
                    <select formControlName="datasinapi" class="form-control">
                        <option *ngFor="let d of datas" [value]="d" [label]="d"></option>
                    </select>
                </div>
                <div *ngIf="submitted && form.datasinapi.errors" class="invalid-feedback">
                    <div class="col-sm-2"></div>
                    <div class="help-block col-sm-10">Data Sinapi precisa ser informada!</div>
                </div>
            </div>

             <!-- CLIENTE -->   
             <div class="form-group">
                <label for="maodeobra" class="col-sm-2 control-label">Cliente</label>
                <div class="col-sm-10">     
                     <input type="text" name="cliente" formControlName="cliente" class="form-control"/>
                </div>
            </div>

            <!-- ISLICITACAO -->
            <div class="form-group" data-md-icheck (change)="toggleVisibility($event)" [ngClass]="{'has-error': submitted && form.islicitacao.errors}"> 
                <label for="islicitacao" class="col-sm-2 control-label">Licitação</label>
                <div class="col-sm-10">
                    <input type="checkbox" formControlName="islicitacao"/>
                </div>
            </div>
            
            <!-- TIPO LICITACAO -->
            <div class="form-group" [hidden]="!isLicitacaoInput" [ngClass]="{'has-error': submitted && form.tipolicitacao.errors}">
                <label for="tipolicitacao" class="col-sm-2 control-label">Tipo de Licitação</label>
                <div class="col-sm-10">
                    <input type="text" name="tipolicitacao" formControlName="tipolicitacao" class="form-control"/>
                </div>
            </div>
            
            <!-- DATA HORA LICITACAO -->
            <div class="form-group" [hidden]="!isLicitacaoInput">
                <label for="datahoralicitacao" class="col-sm-2 control-label">Data e Hora da Licitação</label>
                <div class="col-sm-10">
                    <input type="datetime-local" name="datahoralicitacao" formControlName="datahoralicitacao" class="form-control"/>
                </div>
            </div>

            <!-- NUMERO DO PROCESSO LICITATORIO -->
            <div class="form-group" [hidden]="!isLicitacaoInput">
                <label for="estado" class="col-sm-2 control-label">Numero do Processo Licitatório</label>
                <div class="col-sm-10">
                    <input type="text" name="numeroprocesso" formControlName="numeroprocesso" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label class="offset-2">* Campos obrigatórios</label>
            </div>

            <!-- <div class="form-group"> -->
            <button type="submit" class="btn btn-primary offset-2">
                Avançar
            </button>
            <button type="button" class="btn btn-danger" (click)="cancelar($Event)">
                Cancelar
            </button>    
            <!-- </div> -->
            
        </form>
       
    </div>
</div>