.header-content>.icon{
    float: left;
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    margin-right: 5px;
}

.icon>i{
    font-size: 30px;
}

.title-content{
    margin-top: -5px;
    font-size: 24px;
}

.subtitle-content{
    font-size: 14px;
    color: darkgray;
}

p{
    margin:0px;
}

.margin_0{
    margin-left: 0px;
    margin-right: 0px;
}

.padding_0{
    padding-right: 0px;
    padding-left: 0px;
}

.btn_padrao{
    padding: 18px 25px;
    font-size: 14px;
}
.btn_novo{
    background-color: #38761d;
    border-color: #6aa84f;  
}

.btn_search{
    background-color: #073763;
    border-color: #085394;  
}

.input_search{
    width: 23vw;
    margin-bottom: 1px;
    height: 19px;
}

.form_search{
    float: left;
    margin-right: 2px;
    width: 23vw;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.fa-user:before {
    content: "\f007";
    margin: 5px;
}