<breadcumb></breadcumb>
<div class="row margin_0">
    <div class="header-content col-md-6 padding_0">
            <!-- <img src=".\assets\dist\img\InsumosIcon.png"> -->
            <div class="icon"><i class="fa fa-cubes"></i></div>
            <p class="subtitle-content">{{subtitle}}</p>
            <p class="title-content"><b>{{title}}</b></p>
            <p class="passos">{{passos}}</p>
    </div>
    <div class="col-md-6 padding_0">
        <div class="row buttons-content">
          <div><button class="btn btn-flat btn-danger btn_cancelar">CANCELAR</button></div>
          <div class=""><button class="btn btn-lg btn-flat btn_padrao btn_composicao" data-toggle="modal" data-target="#modal-default">COMPOSIÇÃO</button></div>
          <div class=""><button class="btn btn-lg btn-flat btn_padrao btn_insumo" data-toggle="modal" data-target="#modal-default">INSUMO</button></div>
          <div class=""><button class="btn btn-lg btn-flat btn_search btn_padrao">FINALIZAR</button></div>
        </div>
    </div>        
</div>
<br>
<div class="box box-warning">
       
              <!-- /.box-header -->
              <div class="box-body">
                <table class="table table-bordered">
                  <tr>
                    <th style="width: 1vw"></th>
                    <th style="width: 5vw">TIPO</th>
                    <th style="width: 5vw">BANCO</th>
                    <th style="width: 10vw">CÓDIGO</th>
                    <th style="width: 40vw">DESCRIÇÃO</th>
                    <th style="width: 5vw">CLASSE</th>
                    <th style="width: 5vw">UNIDADE</th>
                    <th style="width: 10vw;text-align: right">QUANTIDADE</th>
                    <th style="width: 10vw;text-align: right">VALOR NÃO DESONERADO</th>
                    <th style="width: 10vw;text-align: right">VALOR DESONERADO</th>
                    <th style="width: 15vw"></th>
                  </tr>

                  <tr style="height: 25px" *ngFor="let c of listaItensComposicao; let i = index;">
                    <td></td>
                    <td>{{c.tipoitem}}</td>
                    <td>{{c.tipobanco}}</td>
                    <td>{{c.coditem}}</td>
                    <td>{{c.descricao}}</td>
                    <td>{{c.tipoclasse}}</td>
                    <td style="text-align: center">{{c.unidade}}</td>
                    <td style="text-align: right">{{c.quantidade}}</td>
                    <td style="text-align: right">{{c.valornaodesonerado | currency:'BRL'}}</td>
                    <td style="text-align: right">{{c.valordesonerado | currency:'BRL'}}</td>
                    <td style="text-align: center">
                      <button class="btn btn-xs btn-warning" (click)="editar(i)" data-toggle="modal" data-target="#modal-default" style="margin-right: 2px">EDITAR</button>
                      <button class="btn btn-xs btn-danger" (click)="excluir(c.coditem, i)">EXCLUIR</button>
                    </td>
                    
                  </tr> 
                </table>

              </div>
              <!-- /.box-body -->
              <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                  <li><a href="#">&laquo;</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul>
              </div>
</div>
<!-- /.box -->

<!-- MODAL PESQUISA class="modal fade" -->
<div  id="modal-default" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{titleModal}}</h4>
        </div>
        <div class="modal-body">

            <!-- CABECALHO DE PESQUISA -->
            <div class="row modal-search">
                <div class="search-header">Filtro</div>
                <form [formGroup]="form">
                    <div class="col-xs-3">
                        <label>Banco</label>
                        <select class="form-control" formControlName="tipobanco">
                            <option *ngFor="let k of getTipoBanco()"  [value]="k" [label]="tipoBanco[k]"></option>
                        </select>
                      <!-- <input type="text" class="form-control" placeholder=".col-xs-3"> -->
                    </div>
                    <div class="col-xs-3">
                        <label>Código</label>
                        <input type="number" placeholder="Digite para pesquisar..." formControlName="codigo" class="form-control"/>
                    </div>
                    <div class="col-xs-7">
                        <label>Descrição</label>
                        <input type="text" placeholder="Digite para pesquisar..." formControlName="descricao" class="form-control" (keyup)="pesquisaItem()"/>
                    </div>
                </form>
                
            </div>
              <!--  -->
              <br>
              <!-- ITEM ESCOLHIDO -->
              <div class="row modal-search" *ngIf="isSelecionado">
                  <div class="search-header">Item Selecionado</div>

                  <form class="form-horizontal" [formGroup]="form">
                      <div class="form-group">
                          <label class="col-xs-6">Descrição</label>
                          <label class="col-xs-2">Quantidade</label>
                          <label class="col-xs-2">Valor Desonerado</label>
                          <label class="col-xs-2">Valor não Desonerado</label>
                      </div>

                      <div class="form-group">
                          <label class="col-xs-6">{{itemSelecionado.descricao}}</label>
                          <input type="number" class="col-xs-2" formControlName="quantidade" placeholder="Quantidade.."/>
                          <label class="col-xs-2">{{itemSelecionado.valordesonerado | currency:'BRL'}}</label>
                          <label class="col-xs-2">{{itemSelecionado.valornaodesonerado | currency:'BRL'}}</label>
                      </div>
                  </form>
              </div>
              <!--  -->
              <br>
              <!-- LISTA DE ITEMS PARA ESCOLHA -->
              <div class="row modal-search" *ngIf="!isSelecionado">
                  <div class="search-header">Pesquisa</div>
                  <div class="box-body table-responsive no-padding">
                      <table class="table table-hover">
                        <tr>
                          <th>Código</th>
                          <th>Descrição</th>
                          <th>Unidade</th>
                          <th>Valor Não Desonerado</th>
                          <th>Valor Desonerado</th>
                        </tr>
                        <tr *ngFor="let item of composicaoModal; let i = index" (click)="selecionarItem(item)">
                          <td>{{item.coditem}}</td>
                          <td>{{item.descricao}}</td>
                          <td>{{item.unidade}}</td>
                          <td>{{item.valornaodesonerado | currency:'BRL'}}</td>
                          <td>{{item.valordesonerado | currency:'BRL'}}</td>
                        </tr>
                      </table>
                    </div>
                  </div>
              </div>


              <!--  -->
      
       
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" (click)="limparFormularioPesquisa()" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary" (click)="adicionarItem()" data-dismiss="modal">Adicionar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->