.header-content>.icon{
    float: left;
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    margin-right: 5px;
}

.icon>i{
    font-size: 30px;
}

.title-content{
    margin-top: -5px;
    font-size: 24px;
}

.subtitle-content{
    font-size: 14px;
    color: darkgray;
}

p{
    margin:0px;
}

.margin_0{
    margin-left: 0px;
    margin-right: 0px;
}

.padding_0{
    padding-right: 0px;
    padding-left: 0px;
}

.btn_padrao{
    padding: 18px 25px;
    font-size: 14px;
    color: #fff;
}

.btn_novo{
    background-color: #38761d;
    border-color: #6aa84f;  
}

.btn_cancelar{
    margin-right: 1px; 
}

.btn_composicao{
    background-color: #38761d;
    border-color: #6aa84f;  
    margin-right: 1px;
}

.btn_finalizar{
    background-color: #38761d;
    border-color: #6aa84f;  
}

.btn_insumo{
    background-color: #f1c232;
    border-color: black;  
    margin-right: 1px;
}

.btn_search{
    background-color: #073763;
    border-color: #085394;  
}

.input_search{
    width: 23vw;
    margin-bottom: 1px;
    height: 19px;
}

.form_search{
    float: left;
    margin-right: 2px;
    width: 23vw;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.passos{
    font-size: 10px;
    margin-top: -8px;
}

.modal-search{
    margin-right: 0px;
    margin-left: 0px;
    border: 1px solid #043263;
    padding: inherit;
}

.search-header{
    background-color: #043263;
    color: whitesmoke;
    margin: -15px -15px 10px !important;
    padding: inherit;
    font-size: 1.3em;
}

.modal-search > form > div{
    margin-right: -25px;
}

.row > .form-horizontal > .form-group > label {
    padding: 6px 12px;
    color: #555;
}

.buttons-content{
    display: flex;
    justify-content: flex-end;
    margin-right: 0px;
    align-items: flex-end;
}
