<div class="hold-transition skin-yellow sidebar-mini">
    <app-orcamento-header *ngIf="currentUser"></app-orcamento-header>
    <app-orcamento-menu *ngIf="currentUser"></app-orcamento-menu>
    <div class="wrapper" *ngIf="currentUser">
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li class="active">Here</li>
                    </ol>
                </section>
        
                <!-- Main content -->
                <section class="content container-fluid">
        
                <!--------------------------
                    | Your Page Content Here |
                    -------------------------->
                    
                    <router-outlet *ngIf="currentUser"></router-outlet>
                </section>
                <!-- /.content -->
            </div>
          
            <!-- Main Footer -->
            <!-- <footer class="main-footer"> -->
              <!-- To the right -->
              <!-- <div class="pull-right hidden-xs">
                Anything you want
              </div> -->
              <!-- Default to the left -->
              <!-- <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
            </footer> -->
        
        </div>
        <!-- ./wrapper -->
</div>

<router-outlet *ngIf="!currentUser"></router-outlet>
    